@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-caveat-brush: "Caveat Brush", cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-fun: var(--font-caveat-brush);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-texture-1 {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(
    to left,
    #e6807b,
    #e6807b 20px,
    #c95a4e 20px,
    #c95a4e
  );
  background-size: 40px 100%;
}

.bg-miku {
  background-image: url('/assets/miku.jpg');
  background-position: center;
  background-size: cover;
}

.bg-yae-miko {
  background-image: url('/assets/yae-miko.png');
  background-position: center;
  background-size: cover;
}

.bg-malenia {
  background-image: url('/assets/malenia.jpg');
  background-position: center;
  background-size: cover;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes gachaResultModalAnimationStart {
  0%{
    opacity: 0.5;
    scale: 0;
  }
  100%{
    opacity: 1;
    scale: 1;
  }
}

@keyframes gachaResultModalAnimationFinish {
  0%{
    opacity: 1;
    scale: 1;
  }
  100%{
    opacity: 0;
    scale: 0;
  }
}

@keyframes gachaResultContainerAnimationStart {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes gachaResultContainerAnimationFinish {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.gacha-result-animation-open {
  animation : gachaResultModalAnimationStart 0.5s forwards;
}
.gacha-result-animation-close {
  animation : gachaResultModalAnimationFinish 0.5s forwards;
}

.gacha-result-container-animation-open {
  animation: gachaResultContainerAnimationStart 0.5s forwards;
}
.gacha-result-container-animation-close {
  animation: gachaResultContainerAnimationFinish 0.5s forwards;
}